#imgsl1,
#imgsl2,
#imgsl3,
#imgsl4,
#imgsl5,
#imgsl6,
#imgsl7,
#imgsl8,
#imgsl9,
#imgsl1 {
    background-image: url(../imagenes/es01.png);
}
#imgsl2 {
    background-image: url(../imagenes/es02.png);
}
#imgsl3 {
    background-image: url(../imagenes/es03.png);
}
#imgsl4 {
    background-image: url(../imagenes/es04.png);
}
#imgsl5 {
    background-image: url(../imagenes/es05.png);
}
#imgsl6 {
    background-image: url(../imagenes/es06.png);
}
#imgsl7 {
    background-image: url(../imagenes/es07.png);
}
#imgsl8 {
    background-image: url(../imagenes/es08.png);
}
#imgsl9 {
    background-image: url(../imagenes/es01.png);
}
#imgsl1_1 {
    background-image: url(../imagenes/es02.png);
}
#imgsl1_2 {
    background-image: url(../imagenes/es03.png);
}
#imgsl3_1 {
    background-image: url(../imagenes/es04.png);
}
#imgsl3_2 {
    background-image: url(../imagenes/es05.png);
}
#imgsl3_3 {
    background-image: url(../imagenes/es06.png);
}
#imgsl1,
#imgsl2,
#imgsl3,
#imgsl4,
#imgsl5,
#imgsl6,
#imgsl7,
#imgsl8,
#imgsl9,
#imgsl1_1,
#imgsl1_2,
#imgsl3_1,
#imgsl3_2,
#imgsl3_3
{
    width: 100%;
    height: 100%;
}