#tooltipesolar:hover{
    font-size: 2rem;
    z-index: 99 !important;
}

iframe::-webkit-scrollbar {
    display: none;             /* Chrome, Safari */
  }
  .nuevomedio {
    border-left: 7px solid #63c1e3; /* You can replace #000 with your desired color */
  }
*{
    box-sizing: border-box;
}
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}



html {
    scroll-snap-align: end;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }



body{
    margin: 0;
    padding: 0 0 0 0;
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;

    background-color: #202020;
    overflow-x: hidden;
    
    
}

/* a:visited{
    color:white;
  } */

/* #htmlname{

    font-size: 0.75em !important; 
    padding: 0.5em 0.2em 0.8em 0.5em !important;

    width: 80%;
} */
.textocuadro, .textocuadro1,.textocuadro3 {
    text-align: left !important;
    line-height: 1rem !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
  }

#htmlname{
    background-color: #202020c0;
    border-radius: 5px;
    
}

.circle {
    width: 18px;
    height: 18px;
    
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    position: absolute;
    background: white;
    left: calc(50% - 7px);
    top: 150px;
    border-style: solid;
    border-color: #202020;
    border-radius: 15px;

    -webkit-transform: translate3d(0,0,26px);
    transform: translate3d(0,0,26px);   
    z-index: 26;
  }

  .circle2 {
    width: 18px;
    height: 18px;
    
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    position: absolute;
    background: white;
    left: calc(50% - 7px);
    top: 3730px;
    border-style: solid;
    border-color: #202020;
    border-radius: 15px;

    -webkit-transform: translate3d(0,0,26px);
    transform: translate3d(0,0,26px);   
    z-index: 26;
  }

.odometer {
    font-size: 55px;
    left: calc(30px);
}

   




.conttitulo{
    font-size: 0.8em;
    color: #202020;
    
}
.contcont{
    font-size: 0.8em;
    color:#939393 ; 
}

.contcont a{
    
    color:#939393 !important; 
}















#megaline{
    content: '';
    position: absolute;

    margin-top: 360px;
    width: 5px;
    height: 0;
    background-color: hsla(196, 70%, 64%, 0.718);

    left: calc(50% - 1px);
    
    -webkit-transform: translate3d(0,0,25px);
    transform: translate3d(0,0,25px);   
    z-index: 25;
    border-radius: 0 0 15px 15px;
    transition: 0.01s;
}


/* #video{
    display: block !important; 
    margin-left: auto !important;
    margin-right: auto !important;
    transform: translateY(0px) !important;
    overflow: visible !important;
} */

#video{
    
 
  
  
  float: left;
}

.falsovertical{
    padding-top: 100px;
}
.grafico01{
    grid-template-columns: repeat(3   , 1fr);
      /* grid-template-rows: repeat(2   , 1fr); */
    display: grid;;
    background-color: #202020;
    height: 500px;
    padding-left: 10%;
    
    
    
      padding: 2%;
      
    
}

.fullsvg{
   
    grid-column: 2/4;
      grid-row: 1 ;
      height: 430px;

      margin: auto;
      padding-left: 8%;
}

.ajuste2{
    padding-top: 25%;
}



/* .margen{
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
} */

.empresas{
    display: grid;;
    background-color: #63c2e4;
    height: 500px;
    
    display: grid;
      grid-gap: 7%;
      grid-row-gap: 10px     ;
      grid-template-columns: repeat(3   , 1fr);
      grid-template-rows: repeat(2   , 1fr);
    
      padding: 2%;
      
    
}





.lideres{

     -webkit-transform: translate3d(0,0,26px);
    transform: translate3d(0,0,26px);   

    z-index: 26;
    position: absolute;

    
    background-color: #edeeed;
    
    
   /*  background-position: right top;
     */
    
    display: grid;
      /* grid-gap: 7%; */
      /* grid-row-gap: 10px     ; */
      grid-template-columns: 35% 65%;
      /* grid-template-rows: repeat(2   , 1fr); */
    
      font-size: 70%;
      
      width: 100%;
    color: #2b7e97;
}

.lideres:after {
    content: "";
    
    background-image: url(./svg/logoceleste.svg);
    background-size: 120%;
    background-position-y: 20% ;
    background-position-x: 250% ;
    background-repeat: no-repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }







  .last{
    display: grid;
    -webkit-transform: translate3d(0,0,24px);
   transform: translate3d(0,0,24px);   

   z-index: 24;
   position: relative;

   
   background-color: #edeeed;
   
   
  /*  background-position: right top;
    */
   
   
     /* grid-gap: 7%; */
     /* grid-row-gap: 10px     ; */
     grid-template-columns: repeat(3, 1fr);
     /* grid-template-rows: repeat(2   , 1fr); */
   
     font-size: 70%;
     
     width: 100%;
   color: #2b7e97;
   align-items: center;
   align-content: center;
   display: grid;
}

.last:after {
   content: "";
   
   background-image: url(./svg/logoceleste.svg);
   background-size: 120%;
   background-position-y: 20% ;
   background-position-x: 250% ;
   background-repeat: no-repeat;
   opacity: 0.2;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: -1;   
 }



.centrosvg{
    width: 50%;
    display: block;
    margin: auto;
}



.chile{
    height: 250px;
    display: block;
    margin: auto;

    margin-left: 28%;
}




#last1{
    display: grid;
    grid-column: 1;
      grid-row: 1 ;
}


#last2{
    display: grid;
    grid-column: 2;
      grid-row: 1 ;
}















  

.counter{
    font-weight: 800;
    font-size: 25px;
    color: #2D7D9A;
}

.lideres1{
    
    
    grid-column: 1;
      grid-row: 1 ;
     
     

      padding: auto;
      

      text-align: center;
}

.textcenter {
    text-align: left;
    padding-left: 20%;

    padding-top: calc(150px - 16px);
    color: #202020;
    font-size: 1.7vw;
    margin: 0px;
    font-weight: 800;
}

.textcenter7 {
    text-align: left;
    padding-left: 20%;

    padding-top: calc(150px - 16px);
    color: #202020;
    font-size: 1.7vw;
    margin: 0px;
    font-weight: 600;




    
    
    
    
    
    font-weight: 200;
}


.textcenter3 {
    text-align: left;
    padding-left: 20px;

    
    color: #202020;
    font-size: 1.3vw;
    margin: 0px;
    font-weight: 800;
    min-width: 50%;
}
.textcenter2 {
    text-align: left;
    padding-left: 25%;
    margin: 0px;
    padding-top:0px;
    color: #202020;
    font-size: 1.7vw;
    font-weight: 200;
}

.textcenter4 {
    text-align: left;
    padding-left: 20px;
    margin: 0px;
    padding-top:0px;
    color: #202020;
    font-size: 0.8vw;
    font-weight: 200;
}

#lideres2{
    
   
    grid-column: 2;
      grid-row: 1 ;


      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(20px, 1fr) );
      /* gap: 20px; */
      padding: auto;
      align-items: center;

      text-align: center;

    
      
}


.lideressvg{
    width: 55%;
    padding: auto;
}

.empresas2{
    display: grid;;
    background-color: #63c2e4;
    height: 500px;
    
    display: grid;
      grid-gap: 7%;
      grid-row-gap: 10px     ;
      grid-template-columns: repeat(4   , 1fr);
      grid-template-rows: repeat(4   , 1fr);
    
      padding: 2%;
      
    
}


  


.phonemenu{
    display: none;
}













#nav {
    position: absolute;
    left: 0px;
    height:76px;
   
    width: 100%;
    text-align: center;
    z-index: 25;
    transition:  0.25s ease-out;
    opacity: 1;

    
    
}

#nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;  
}
#nav ul li {
    margin: 0;
    padding: 0;
    float:left;
    margin-left: 6px;
    margin-right: 6px;
}
#nav ul li a {
    
    text-decoration: none;
    padding-top:   20px;
    padding-bottom: 20px;
    display: block;
    color: #FFF;

    z-index: 99 !important;
    
    
    
  display: inline-block;
  min-width: 150px;

  /* max-width: 130px; */
  
}

#nav ul li img {
    position: relative;
    text-decoration: none;
   
    display: block;
    color: #FFF;
   
   
    min-width: 200px;

    
  display: inline-block;
    
    
    padding-top: 6.1px;

    /* 5.5 */
z-index: 99;
    
}




/* nav2 */


#nav2 {
    position: absolute;

   top: calc(44vh - 60px) ;
    
    left: 0px;
    height:76px;
   
    min-width: 100vw;
    text-align: center;
    z-index: 25;
    transition:  0.25s ease-out;
    opacity: 1;
    transform: translateX(-50%);
    font-size: 0.75rem;
    
    
}

#nav2 ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;  
}
#nav2 ul li {
    margin: 0;
    padding: 0;
    float:left;
}
#nav2 ul li a {
    
    text-decoration: none;
    padding-top:   20px;
    padding-bottom: 20px;
    display: block;
    color: #FFF;

    z-index: 99 !important;
    
    
    
  display: inline-block;
  min-width: 130px;

  max-width: 130px;
  
}

#nav2 ul li img {
    position: relative;
    text-decoration: none;
   
    display: block;
    color: #FFF;
   
   
    min-width: 200px;

    
  display: inline-block;
    
    
    padding-top: 6.1px;

    /* 5.5 */
z-index: 99;
    
}


/* ----------------- */




:root {
    --star: 0px;
    --final: 1px;
    --backgra: #202020ee;
    
}

@keyframes moveback {
    0%   {left: var(--star);}
    100% {left: var(--final);}
}

#fondomovil {
    height: 40px; 
    width: 160px; 
    position: absolute; 
    background-color: #c6c6c64e; 
    opacity: 0.5;
    
    
    

    
    /* -webkit-transform: translate3d(0,0,15px);
    transform: translate3d(0,0,15px);   
    z-index: 15;
 */


    border-radius: 7px;
    margin-top: 13px;


animation-name: moveback;
  animation-duration: 0.7s;
 /*  animation-iteration-count:infinite; */
 animation-fill-mode: forwards;
  
}


.fgris{


    /* movimiento original aca */
    border-radius: 10px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;

    padding-right: 7px !important;

    display: inline-block !important;
    transition: 0.5s all ease !important;

    
}



.fgris:hover{
    /* movi el movimiento de los tamaños arriba  */
    
    background-color: #c6c6c64e;

    

    
    
    
    
}












#contacta{
    position: fixed;
    right: 25px;
    list-style-type: none;

    margin-top: 28px;
    z-index:50;
    -webkit-transform: translate3d(0,0,50px);
    transform: translate3d(0,0,50px);   
    z-index: 50;    
}



#ingresa{
    position: fixed;
    right: 180px;
    list-style-type: none;

    margin-top: 28px;
    z-index:50;
    -webkit-transform: translate3d(0,0,50px);
    transform: translate3d(0,0,50px);   
    z-index: 50;    
}



#conecta{
    position: fixed;
    display: inline-flex;
    align-items: center;     /* centra verticalmente texto e imagen */
    padding: 10px 0;         /* en lugar de margenes que no aplican */
    margin-left: 20px;
    max-width: 200px !important;
    display: none;
    
   
  }

    
  #contactIcon {
    display: inline-block;
    vertical-align: middle;  /* alinea con la línea de texto */
    margin-left: 8px;
    filter: invert(1);
    min-width: 15px !important;
    /* opcional: define tamaño:
    width: 1em;
    height: 1em;
    */
  }

.borde a{
    border: 2px solid #ffffff;
    border-radius: 10px;

   
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 1px;
    list-style-type: none; 
    color: white;

    margin-top: 16px;
    /* background-color: #63c2e42c; */


}

.borde a{
    transition: background-color 350ms
}

.borde a:hover{
    background-color: #63c2e4;
    border: 2px solid white;
}





















#logomaster{
    position: fixed;
    margin: 16px;
    /* left: 40px; */
    width: 200px;
    z-index:50;
    -webkit-transform: translate3d(0,0,50px);
    transform: translate3d(0,0,99999999px);   
    z-index: 99999999;
}
#logoz{
    transform: translate3d(0,0,99999999px);   
    z-index: 99999999;
}

.logoblanco{
    
  
    display: block;
    position: relative;
    
   /*  scale: 2; */
  
    
    
    

    margin-left: 50px;
    z-index: 99999999

   

    




}


.logocliente{

    /* height: fit-content; */

    position: relative;
    /* width: 15vw; */
    display: block;
    
    
    
    
    left: 25px;
   

    float: left ;

    width: 25%;
    
    align-self: center;

    margin: auto;
    display: block;

    max-width: 25vw;

}

.logocliente2{
    
     /* height: fit-content; */

     position: relative;
     /* width: 15vw; */
     display: block;
     
     
     
     
     left: 5vw;
    
 
     float: left ;
 
     width: 25%;
     
     align-self: center;
 
     margin: auto;
     display: block;

     max-width: 25vw;

}






















.content{
    margin-top: 47px;
}












.logoblancophone{
    display: none;
}







 /* ------------- */
  
 .barra{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  
  }


  .dropdown-btn{
    
    /* margin-top: 1px; */
    position: relative;
    /* background-color: #000; */
    /* color: white; */
    background-color: rgba(255, 255, 255, 0);;
    
    font-size: 16px;
    
    height: 40px;
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    cursor: pointer;

    transition: 0.3s;

    /* top:  -5px; */
    
    
    
    
}

.dropdown {

    background-color: #63c2e4;
    float: left;
    position:absolute;

    right: 0;
    
    
    z-index:50;
    -webkit-transform: translate3d(0,0,100px);
    transform: translate3d(0,0,100px);   
    z-index: 100;
}

.dropdown-content{
    display: none;
    position: fixed;
    right: 1px;
    /* float: left; */
    /* left: 50px; */
    /* referente al padre que este tiene */
    background-color: #63c2e4;
    min-width: 170px;
    max-height: 0;
    overflow: hidden;
    /* border-bottom-right-radius: 25px;  */  
    -webkit-transition: max-height 0.2s ease-in;
    transition: max-height 0.2s ease-in;
    text-align: center;
    

}

.dropdown-content a{
   /*  vertical y el otro horizontal */
    padding: 12px 10px;
    color: white;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
    
    
    
}

/* cuando estemos sobre la lista. pero solo sobre el boton */
/* .dropdown:hover .dropdown-btn {
    background-color: green;
    transform: scale(1.05, 1.05);
} */

.dropdown:hover .barra {
    background-color: white;
    
}

/* lo que hace aca que cuando estoy sobre dropdown, ala propiedad de .dropdown-content la cambio */
.dropdown:hover .dropdown-content {
    display: block;
    max-height: 1000px;
}

.derecha{
    font-family: 'Lato', sans-serif;
}






.dropdown-btn{
    display: none;
}


/* ---------------- menu 2 */



.mcontenido{
    margin-top: 6.7px;
    visibility: hidden;
    position: absolute;
    background-color: var(--backgra);

    width: 130px;
    text-align: center;

    left:calc(1%);
    z-index: 20;
    -webkit-transform: translate3d(0,0,20px);
    transform: translate3d(0,0,20px);
    
    opacity: 0;
    transition: 0.2s;
    transform: translateY(-15px);

    border-radius: 0 0 15px 15px;
    

    
    
}

.mcontenido a{
    font-size: 0.45em !important ;
   /*  transition: 1s; */
    
}



.pcmenu{
    position: absolute;
    /* background-color: var(--backgra); */
    
}

.titulomenu{
    -webkit-transform: translate3d(0,0,17px);
    transform: translate3d(0,0,17px);   
    z-index: 17;
}

.subr:after{
    content: "";
    position: absolute;
    background-color: #63c2e4;
    height: 3px;
    width: 0;
    
    bottom:  +15px;
    left: 8%;
    transform-origin: center;
    border-radius: 1.5px;
    transition: 0.5s;
}





.subr:hover:after{
    width: 85%;
}



.subractive:after{
    content: "";
    position: absolute;
    background-color: #63c2e4;
    height: 3px;
    
    
    bottom:  +15px;
    left: 8%;
    transform-origin: center;
    border-radius: 1.5px;
    transition: 0.5s;
    width: 85%;

}







/* .subr2:after{
    content: "";
    position: absolute;
    background-color: #63c2e4;
    height: 3px;
    width: 0;
    
    bottom:  -10px;
    right: 0%;
    transform-origin: center;
    border-radius: 1.5px;
    transition: 0.5s;



}


.subr2:hover:after{
    width: 80%;
}


.subr3:after{
    content: "";
    position: absolute;
    background-color: #63c2e4;
    height: 3px;
    width: 0;
    
    bottom:  -10px;
    right: 0%;
    transform-origin: center;
    border-radius: 1.5px;
    transition: 0.5s;



}


.subr3:hover:after{
    width: 67%;
}



.subr4:after{
    content: "";
    position: absolute;
    background-color: #63c2e4;
    height: 3px;
    width: 0;
    
    bottom:  -10px;
    right: 0%;
    transform-origin: center;
    border-radius: 1.5px;
    transition: 0.5s;



}


.subr4:hover:after{
    width: 100%;
}












.subr5:after{
    content: "";
    position: absolute;
    background-color: #63c2e4;
    height: 3px;
    width: 0;
    
    bottom:  -10px;
    left: 3%;
    transform-origin: center;
    border-radius: 1.5px;
    transition: 0.5s;



}


.subr5:hover:after{
    width: 80%;
}



.subr6:after{
    content: "";
    position: absolute;
    background-color: #63c2e4;
    height: 3px;
    width: 0;
    
    bottom:  -10px;
    left: 3%;
    transform-origin: center;
    border-radius: 1.5px;
    transition: 0.5s;



}


.subr6:hover:after{
    width: 100%;
}




.subr7:after{
    content: "";
    position: absolute;
    background-color: #63c2e4;
    height: 3px;
    width: 0;
    
    top:  25px;
    right: 0%;
    transform-origin: center;
    border-radius: 1.5px;
    transition: 0.5s;



}


.subr7:hover:after{
    width: 70%;
}


.subr8:after{
    content: "";
    position: absolute;
    background-color: #63c2e4;
    height: 3px;
    width: 0;
    
    top:  25px;
    right: 0%;
    transform-origin: center;
    border-radius: 1.5px;
    transition: 0.5s;



}


.subr8:hover:after{
    width: 65%;
} */










.titulomenu:hover .mcontenido{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    

    
}

.mcontenido a:hover{
    /* width: 100%; */
    /* background-color: #f1f1f1; */
    font-weight: 800;
    font-size: 9.5px !important;
    /* color: black !important; */
    border-radius: 0 0 15px 15px;
    
}



















/* seccion de imagenes  */

.imagenbackgraund{
    position: relative;
    overflow: visible;
    padding: 0;
    
}

.contenedor{

    
    position: relative;
    height: 650px;
    overflow: hidden;
    /* margin: 20px 0px; */
    
}

.cabecera{
    position: relative;
    height: 650px;
    overflow: hidden;
    /* margin: 20px 0px; */

    
}


.soloimagen{
    position: relative;
    height: 450px;
    overflow: hidden;
    /* margin: 20px 0px; */

    
}


.final{
    position: relative;
    height: 550px;
    overflow: hidden;
    /* margin: 20px 0px; */


    
}





#inicial{

    height: 500px;
}

.parallax{
    position: absolute;
    width: 100%;
    
    background-size: cover;
    width: 120%;
    
    z-index: -1;
    transition: 0.45s;
    /* height: 100%; */
    
}



.tituloi{
    text-transform: uppercase;
    color: white;
    font-size: 2.2em;
    
    margin: 0;
    position: relative;
    padding: 0;
    
    /* este desactive porque se movia el operaciones y mantenimineto */
    /* text-align: right; */

    left:calc(-100% - 25px );
    padding-left: 8px;
}

.tituloii{
    text-transform: uppercase;
    color: white;
    font-size: 2.2em;
    
    margin: 0;
    position: relative;
    padding: 0;
    
    
    text-align: right;

    
}




.tituloichico{
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
    
    margin: 0;
    position: relative;
    padding: 0;
    
    
    text-align: right;

    left:calc(-100% - 2vw );
}



.tituloichico{
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
    
    margin: 0;
    position: relative;
    padding: 0;
    
    
    text-align: right;

    left:calc(-100% - 2vw );
}

.tituloiprimero{
    text-transform: uppercase;
    color: white;
    font-size: 2.2em;
    
    margin: 0;
    position: relative;
    padding: 0;
    
    
    text-align: right;

    left:calc(-100% - 1px );

    z-index: 2;
    -webkit-transform: translate3d(0,0,2px);
    transform: translate3d(0,0,2px);
}





.tituloceleste{
    text-transform: uppercase;
    color: #63c2e4;
    font-size: 3.5em;
    
    margin: 0;
    position: relative;
    padding: AUTO;
    
    
    text-align: center;

    padding-left: 15px;
    width: 100%;
    
    
    z-index: 20;
      -webkit-transform: translate3d(0,0,20px);
    transform: translate3d(0,0,20px);
}

.titulod{
    text-transform: uppercase;
    color: white;
    font-size: 2.2em;
    
    margin: 0;
    position: relative;
    left: 25px;
    padding-left: 8px;
    /* margin-left: 1.3vw; */
    
    
}

#subcli{
    width: 40vw;
    padding-top: 250px
}

#contendoriconos{
    padding-top: 100px !important;
}

.textoiconos{
    line-height: 2;
    
    top: 8px;

    
    text-transform: none;



    /* text-transform: uppercase; */
    color: white;
    font-size: 1rem !important;
    
    margin: 0;
    position: relative;
    left: 25px;
    padding-left: 8px;

    width: fit-content;
    font-weight: 200;
    
    
}


.titulod2{
    text-transform: uppercase;
    color: white;
    font-size: 2.2em;
    
    margin: 0;
    /* position: relative; */
    padding-right: 10%;
    
    /* left: 1000px; */
    text-align: right;
    
}


.slid{
    font-size: 1.0em;
    top: 8px;

    margin-left: 20px;
    text-transform: none;
}

.slii{
    font-size: 1.0em;
    top: 8px;

    margin-left: 18px;
    text-transform: none;
}

.sliinormal{
    position: absolute;
    font-size: 1.0em;
    top: 8px;

    margin-left: 18px;
    text-transform: none;
    text-align: left;
    left: -150;
}

.piepagina{
    color: black;
    font-size: 0.8em;
    
    margin: 0;
    position: relative;
    padding: AUTO;
    
    
    text-align: center;
    padding: auto;

    top:calc(50% - 0.25em );

    position: left;
    font-weight: 200;
    
    
}









.img:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.22);
}

/* #video:before{
   
        content:'';
        position: absolute;
            top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
    
} */




.mid{
    position: absolute;
    left:calc(50%); 
    padding-top: 235px
}

.iz{
    position: absolute;
    left:calc(10%); 
}




/* transform: translateX(-25px); */
/* .d:hover .parallax{
    
    transform: translateY(-50px );
    
} */

/* .i1{
    
    transform: translateY(-50px) !important;
    
} */

.d .parallax{
    bottom: -50px;
}

.i .parallax{
    left: -50px;
    

}

.i:hover .parallax{
    transform: translateX(50px);
    
}




#clientes{

    display: grid;;
    background-color: #63c2e4;
    
    
      grid-template-columns: repeat(3   , 1fr);
      grid-template-rows: 100px;

      grid-gap: 7%;
      grid-row-gap: 2%;
    
    
}


.clienteslogo2{
    max-width: 60%;
    max-height: 60%;
    margin: auto
}

.i1{
    background-image: url(../imagenes/1.JPG);
    
    bottom: 0;
    background-position-y: -4vw ;

    
    
   
}




.i1.active{
    transform: translateY(-50px );
    
    transition: 1000ms ease-in-out;
}


.i1v2{
    background: cover;
    background-image: url(../imagenes/1.JPG);
    height: 150%;
    /* background-position: bottom; */
    /* background-position-y: -4vw ; */
    
    
}


.i2{
    background-image: url(../imagenes/2.jpeg);
    height: calc(100% + 100px);
    bottom: 0;
    padding-top: 60%;
    background-position: center;
}

.i2.active{
    transform: translateY(-50px );
    
    transition: 1000ms ease-in-out;
}

.i3{
    background-image: url(../imagenes/3.jpg);
    height: calc(100% + 100px);
    bottom: 0;
    padding-top: 60%;
    background-position: center;
    
}

.i3.active{
    transform: translateY(-50px );
    
    transition: 1000ms ease-in-out;
}

.i4{
    background-image: url(../imagenes/4.jpg);
    height: calc(100% + 100px);
    bottom: 0;
    padding-top: 60%;
    background-position: right;
    
}

.i4.active{
    transform: translateY(-50px );
    
    transition: 1000ms ease-in-out;
}


.i5{
    background-image: url(../imagenes/5.jpg);
    height: calc(100% + 100px);
    bottom: 0;
    padding-top: 50%;
    background-position: center;
    
    /* background-position-y: -2vw ; */
}

.i5.active{
    transform: translateY(-50px );
    
    transition: 1000ms ease-in-out;
}



.i6{
    background-image: url(../imagenes/1.jpg);
    height: calc(100% + 300px);
    bottom: 0;
    padding-top: 60%;
    background-position: center;
}

.i6.active{
    transform: translateY(-50px );
    
    transition: 1000ms ease-in-out;
    
}

.i7{
    background-image: url(../imagenes/6.jpg);
    height: 110%;
    
    height: calc(100% + 100px);
    bottom: 0;
}

.i7{
    background-image: url(../imagenes/7.jpg);
    height: calc(100% + 100px);
    bottom: 0;
}

.i8{

    background-image: url(../imagenes/7.jpg);
    
    
    /* background-position-y: -5vw ; */
    
    height: calc(100% + 100px);
    bottom: 0;
    background-position: bottom;
}

.i9{

    background-image: url(../imagenes/team.jpg);
    
    
    /* background-position-y: -5vw ; */
    
    height: calc(100% + 100px);
    bottom: 0;
}

.i10{

    background-image: url(../imagenes/SUNHAND.jpg);
    
    
    /* background-position-y: -5vw ; */
    
    height: calc(100% + 100px);
    bottom: 0;
    
}

.i11{

    background-image: url(../imagenes//carro.jpeg);
    
    
    /* background-position-y: -5vw ; */
    
    height: calc(100% + 100px);
    bottom: 0;
    
}

.i12{

    background-image: url(../imagenes//carport.jpg);
    
    
    /* background-position-y: -5vw ; */
    
    height: calc(100% + 100px);
    bottom: 0;
    
}


.i13{

    background-image: url(../imagenes/inclinado.jpg);
    
    
    /* background-position-y: -5vw ; */
    
    height: calc(100% + 50px);
    bottom: 0;
    background-position: center;
    
}


.i14{

    background-image: url(../imagenes/3.jpg);
    
    
    /* background-position-y: -5vw ; */
    
    height: calc(100% + 100px);
    bottom: 0;
    
}


.i15{

    background-image: url(../imagenes/6.jpg);
    
    
    /* background-position-y: -5vw ; */
    
    height: calc(100% + 100px);
    bottom: 0;
    
}

.i16{
    background-image: url(../imagenes/16.JPG);
    height: calc(100% + 300px);
    bottom: 0;
    padding-top: 60%;
    background-position: center;
}

.i16.active{
    transform: translateY(-50px );
    
    transition: 1000ms ease-in-out;
    
}
/* .contenedor::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 120%;
    background-color: hsla(196, 70%, 64%, 0.718);

    left: calc(50% - 1px);
}


.cabecera::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 45%;
    background-color: hsla(196, 70%, 64%, 0.718);

    left: calc(50% - 1px);
    
    bottom: 0;


}

.final::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 40%;
    background-color: hsla(196, 70%, 64%, 0.718);

    left: calc(50% - 1px);
    top: 0;
} */



/* EÑL MARGIN TOP REGULA PARA QUE QUEDE ALMEDIO */

.linehcentro::before{
    content: '';
    width: 4vw;
    
    height: 3px;
    
    background-color: hsla(196, 70%, 64%, 0.718);
    margin: 0;
    margin-top: 15px;
    position: absolute;

   

    left: calc(-2vw);

    position: absolute;
}
.sublineh::before{
   
    content: '';
    width: 1.1vw;
    
    height: 3px;
    
    background-color: hsla(196, 70%, 64%, 0.718);
    margin: 0;
    
    
    z-index: 100;
    position: absolute;
   

    /* left: calc(40px + 1%); */

   
    
}





.linehl2::before{
    content: '';
    width: 1.1vw;
    
    height: 5px;
    
    background-color: hsla(196, 70%, 64%, 0.718);
    margin: 0;
    margin-top: 24px;
    position: absolute;

    

   

    left: calc(-1.1vw );

    position: absolute;
    line-height: 0 px;
    /* max-width: 15px; */
}

.linehl3::before{
    content: '';
    width: 1.1vw;
    
    height: 5px;
    
    background-color: hsla(196, 70%, 64%, 0.718);
    margin: 0;
    margin-top: 16px;
    position: absolute;

    

   

    left: calc(-1.1vw );

    position: absolute;
    line-height: 0 px;
    /* max-width: 15px; */
}



.linehl1::before{
    content: '';
    line-height:  0 px;
    
    width: 1.1vw;
    
    height: 5px;
    
    background-color: hsla(196, 70%, 64%, 0.718);
    margin-top: 24px;
    position: absolute;

    /* max-width: 15px ; */

    position: absolute;


    position: right;
    left: calc(4px);
    
}

    
.boton{
    background-color: #63c2e4;
    position: relative;


    

    

   width: auto;
   border-radius: 10px;
   
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 9px;
   padding-bottom: 9px;
   font-size: 1.2em;
   color: black;
    right: calc(15px + 26px) ;

   top: 20px;
   font-size: 0.7em;

   z-index: 25;
   -webkit-transform: translate3d(0,0,25px);
    transform: translate3d(0,0,25px);
   
   
   
}



.boton2{
    background-color: #63c2e4;
    position: relative;


    

    

   width: auto;
   border-radius: 10px;
   
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 9px;
   padding-bottom: 9px;
   font-size: 1.2em;
   color: black;
    

   
   font-size: 0.7em;
   

   z-index: 25;
   -webkit-transform: translate3d(0,0,25px);
    transform: translate3d(0,0,25px);
   
   
   
}



.boton3{
    background-color: #63c2e4;
    position: relative;


    

    

   width: auto;
   border-radius: 10px;
   
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 9px;
   padding-bottom: 9px;
   font-size: 1.2em;
   color: black;
    

   
   font-size: 0.7em;
   
   left: calc(100% - 90px - 10%);
   
   
   z-index: 25;
   -webkit-transform: translate3d(0,0,25px);
    transform: translate3d(0,0,25px);
   
}

/* BOTON */
.boton {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    border: 2px solid;
    border-color: #318aac;
    position: relative;
  }
  .boton:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
  }
  .boton:hover:before {
  width: 100%;
  }



.botond{
    height: 1px; 
    background-color: #63c2e4;
    font-weight: 500;
    position: relative;
   width: auto;
   border-radius: 10px;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 9px;
   padding-bottom: 9px;
   font-size: 0.7em;
   color: white;
    /* left:calc( 20px ); */
    top: 20px;
    z-index: 25;
   -webkit-transform: translate3d(0,0,25px);
    transform: translate3d(0,0,25px);
    margin-left: calc(2vw + 5px);
    transition: 0.3s all ease;
    outline: solid;
    outline-width: medium;
    outline-color: rgba(255, 255, 255, 0);
}

.botond:hover{
    padding-left: 17px;
   padding-right: 17px;
   padding-top: 11px;
   padding-bottom: 11px;
   outline: rgba(0, 0, 0, 1.0);
   
}




.botond:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.0);
    transition: all 1s ease;
    border-radius: 10px;
  }
  .botond:hover:before {
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  }



















.botoni{
    background-color: #63c2e4;
    position: relative;


    

    

   width: auto;
   border-radius: 10px;
   
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 9px;
   padding-bottom: 9px;
   font-size: 1.2em;
   color: white;
right: calc(100px + 2vw + 5px) ;

   top: 20px;
   font-size: 0.7em;
   
   
   z-index: 25;
   -webkit-transform: translate3d(0,0,25px);
    transform: translate3d(0,0,25px);

    transition: 0.3s all ease;

   
}

.botoni:hover{
    padding-left: 17px;
   padding-right: 17px;
   padding-top: 11px;
   padding-bottom: 11px;
}







.botoni:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.0);
    transition: all 1s ease;
    border-radius: 10px;
  }
  .botoni:hover:before {
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  }













 a{
    text-decoration: none;
    z-index: 10;
}

.boton:hover{
    cursor: pointer;
}

.lasredes{
    cursor: pointer;
}



.lorem{
    position: absolute;
    font-size: 0.6em;
    margin-top: 30px;
    color: white;
    text-align: left;
    width: 300px;
}

.lorem2{
    position: absolute;
    font-size: 0.6em;
    margin-top: 30px;
    color: white;
    text-align: right;
    width: 300px;

    left: calc(100% - 300px - 10%);
}




.logoempresa1{
    
    width: 50%;
    
    grid-column: 2;
      grid-row: 1 ;
      margin: auto


}

.logoempresa2{
    
    width: 50%;
    
    grid-column: 1;
      grid-row: 1 ;
      margin: auto


}

.logoempresa3{
    
    width: 50%;
    
    grid-column: 3;
      grid-row: 1 ;
      margin: auto


}


.sub1{
    margin-top: 10%;
    color: white;
    display: grid;
    grid-column: 1;
      grid-row: 2 ;
    padding: auto;
    font-size: 0.7em;
    text-align: center;

}
.sub2{
    margin-top: 10%;
    color: white;
    display: grid;
    grid-column: 2;
      grid-row: 2 ;
    padding: auto;
    font-size: 0.7em;
    text-align: center;

}
.sub3{
    margin-top: 10%;
    color: white;
    display: grid;
    grid-column: 3;
      grid-row: 2 ;
    padding: auto;
    font-size: 0.7em;
    text-align: center;

}








.logoempresa21{
    
    width: 33%;
    
    grid-column: 2;
      grid-row: 2 ;
      margin: auto


}

.logoempresa22{
    
    width: 33%;
    
    grid-column: 1;
      grid-row: 2 ;
      margin: auto  


}

.logoempresa23{
    
    width: 33%;
    
    grid-column: 3;
      grid-row: 2 ;
      margin: auto


}


.logoempresa24{
    
    width: 33%;
    
    grid-column: 4;
      grid-row: 2 ;
      margin: auto


}

.sub21{
    color: white;
    display: grid;
    grid-column: 1;
      grid-row: 3 ;
    padding: auto;
    font-size: 0.6em;
    text-align: center;

}
.sub22{
    color: white;
    display: grid;
    grid-column: 2;
      grid-row: 3 ;
    padding: auto;
    font-size: 0.6em;
    text-align: center;

}
.sub23{
    color: white;
    display: grid;
    grid-column: 3;
      grid-row: 3 ;
    padding: auto;
    font-size: 0.6em;
    text-align: center;

}

.sub24{
    color: white;
    display: grid;
    grid-column: 4;
      grid-row: 3 ;
    padding: auto;
    font-size: 0.6em;
    text-align: center;

}



















#contactoform2{
    display: grid;;
    background-color: #63c2e4;
    /* height: 500px; */
    
    display: grid;
      
    
      grid-template-columns: repeat(9   , 1fr);
      grid-template-rows: 2;

      padding: 0 0;
    
      
      
}

#imagenvisita{
    background-color: #202020;
    
    grid-column-start:5;
    grid-column-end: 10;
    padding: 0;
    margin: 0;

    background-image: url(/imagenes/campo.jpg);
    height: 100%;
    bottom: 0;
    border-image-repeat: round;

    background-size: cover;
    
    background-position: center;


}





#contactoform{
    display: grid;;
    background-color: #63c2e4;
    /* height: 500px; */
    
    display: grid;
      grid-gap: 7%;
      grid-row-gap: 10px     ;
      grid-template-columns: repeat(8   , 1fr);
      grid-template-rows: 2;
    
      padding: 2%;
      
}

#clientesform{
    
    grid-column-start: 3;
    grid-column-end: 7;



    display: grid;;
    background-color: #63c2e4;
    /* height: 500px; */
    
    display: grid;
      grid-gap: 7%;
      grid-row-gap: 10px     ;
      grid-template-columns: repeat(8   , 1fr);
      grid-template-rows: 2;
    
      padding: 2%;
      
}






#redes{
    text-align: left;
    
    grid-column-start: 6;
    grid-column-end: 8;


    border-radius: 1em;
    padding: 3.5em 1.5em;
    
    padding-top: 100px;
}

#redes2{
    

    text-align: right;
    padding-right: 9vw;
    
    
    grid-column: 3;


    
    
    
    
}

.form2 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
 
    text-align: left;
    
    


border-radius: 1em;
padding: 3.5em 1.5em;

padding-top: 10px;
/*  z-index: 50; */
}

.form {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 6;
 
    text-align: left;
    
    


border-radius: 1em;
padding: 3.5em 1.5em;

padding-top: 10px;
/*  z-index: 50; */
} 

.formcliente {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 7;
 
    text-align: left;
    
    


border-radius: 1em;
padding: 3.5em 1.5em;

padding-top: 10px;
/*  z-index: 50; */
} 



.form__container{
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
  font-family: 'Lato', sans-serif;
}

.form_tittle{
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .2em;
  font-family: 'Lato', sans-serif;
}

.form__input{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  padding: .8em 1em;
  outline: none;  
  border: none;
  border: 3px solid black;
  border-radius: 10px;
}

.form__service{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;  
    border: none;
    border: 1px solid black;
    border-radius: 0.2em;
    background-color: white;
  }


  .form__service option{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;  
    border: none;
    border: 1px solid black;
    border-radius: 0.2em;
    background-color: white;
  }


.form__cta{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background-color: #63c2e4;

  border: none;
  padding: .7em 0;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.form__input--message{
  resize: none;
  padding: 1.8em 1em;
  
}












.fade{
    opacity: 0;
    transition: 2s;
}

.fade2{
    
    transition: 2s;
}

.fade3{
    opacity: 0;
    transition: 2s;
}





 /* .d{
        pointer-events: none;
    }
    .parallax{
        pointer-events: none;
    } */
    




.subr{
    font-size: 1em !important;
}


@media screen and (max-width: 1100px) {

    .textocuadro, .textocuadro1,.textocuadro3 {
      
        font-size: 1rem !important;
        padding-left: 0px !important;
        width: 100% !important;
          
      
      }

      section



    .mid{
        padding-top: 135px
    }
  


    #nav2{
        

        position: absolute;
        top: calc(40vh - 1.2em); 
        font-size: 10px;
        
        min-width: 100vw;
        padding-bottom: 20px;
        
        

    }

   /*  #opmenu{
        width: 110vw;
    } */
    
 
    
    
    
    #nav2 ul {
        margin: 0;
        padding: 0;
        display: inline-block;
        list-style-type: none;  
        
    }
    #nav2 ul li {
        margin: 0;
        padding: 0;
        float: center;
        padding: auto;
    }
    #nav2 ul li a {
        
        text-decoration: none;
        padding-top:   15px;
        padding-bottom: 15px;
        display: block;
        color: #FFF;
    
        z-index: 99 !important;
        
        
        
        
      display: inline-block;
      min-width: 100px;
    
      max-width: 100px;

      /* font-size: 10px !important; */
      
    }



    .pc{
        display: none;
    }

    .clientes{
        margin-left: 25px;
    }

    .textoiconos{
       
        font-size: 0.85em !important;
         
    }
    #subcli{
        padding-top: 170px;
        width: 45%;
        
    }

    .textcenter7 {
        
        font-size: 1rem;
   
    }

    .textcenter2 {
        
        font-size: 1rem;
   
    }
    



    /* #htmlname{

        font-size: 0.6em !important;

        left: 15px;
    
    } */

    #redes2{
    

     
        padding-right: 1vw;
        
        
        font-size: 2vw;
        
    }

    .textcenter3 {
        text-align: left;
        padding-left: 20px;
    
        
        color: #202020;
        font-size: 2.5vw;
        margin: 0px;
        font-weight: 800;
    }
    
    
    .textcenter4 {
        text-align: left;
        padding-left: 20px;
        margin: 0px;
        padding-top:0px;
        color: #202020;
        font-size: 1.8vw;
        font-weight: 200;
    }

    .logoblanco{
        display: none;
    }

    #contacta, #ingresa{
        display: none;
    }
    #lideres2{
        margin: 0;
        grid-column: 1 !important;
      grid-row: 4 !important;
      grid-template-columns: auto;
      padding-bottom: 100px;


      /* display: grid;
      grid-template-columns: repeat( auto-fit, minmax(20px, 1fr) ); */
      /* gap: 20px; */
      /* padding: auto; */
        /* font-size: 7.3px; */
    }
    .textcenter7{
        padding-top: 50px;
    }
    #cuadrolideres{
        height: 840px !important;
    }

    #S-empresas{
        margin-top: 840px !important;
    }

    .circle2{
        top: 4240px;
    }

    .lideres{
        grid-column: 1fr !important;
      grid-row: 2 !important;
      grid-template-columns: 100% !important;
      /* display: grid;
      grid-template-columns: repeat( auto-fit, minmax(20px, 1fr) ); */
      /* gap: 20px; */
      /* padding: auto; */
        font-size: 7.3px;
    }
    #lideres2 div{
        width: 100%;
    }

    #lideres2 span{
        font-size: 2em;
    }


    .lideressvg{
        width: 33%;
        padding: auto;
        max-height: 120px;
    }


    .counter{
        font-weight: 800;
        font-size: 17px;
        color: #2b7e97;
    }
    .odometer {
        font-size: 40px;
        /* left: calc( 15vw ); */
    }
    

    .ajuste2{
        padding-top: 0%;
    }

    .falsovertical{
        padding-top: 1px;
    }


    .grafico01{
        grid-template-columns: repeat(1   , 1fr);
          grid-template-rows: repeat(2   , 1fr);
        display: grid;;
     
        /* height: 500px; */
  
    }

    .fullsvg{
   
        grid-column: 1;
          grid-row: 2 ;
        
        height: 78%;
          margin: auto
    }
    


    .clienteslogo2{
        max-width: 80%;
        
    }

    .form2 {

        grid-column-start: 1;
    grid-column-end: 10;

    }

    

    #imagenvisita{
        display: none;
    }

    .logoempresa1, .logoempresa2, .logoempresa3{
        width: 80%;
        padding-top: 5%;
    }


    #video{
        display: block;
        float: right;
    }

    .slid{
        font-size: 1em;
        margin-left: 0px;
        
    }
    
    .slii{
        font-size: 1em;
        margin-left: 30px;
       
    }
    
    .sliinormal{
       
        font-size: 0.8em;
        
    }

    .logocliente{
        
        width: 20vw;
        left: 7%;
    }
    

    .logocliente2{
        
        width: 20vw;
        left: 20%;
    }

    #clientes{
        
        background-size: 90%;
        
       
        
        
    }



    

    .ajuste{
        font-size: 0.5em;
    }

    







   

    .logoblancophone{

        top: 1%;
        width: 60%;
        display: block;
        position: absolute;
        display: block;
    margin-left: auto;
    margin-right: auto;
    
    
    }

    .tituloceleste{
        text-transform: uppercase;
        font-size: 2.3em;
    }
    
        
  .pcmenu:nth-child(n){
      display: none;
  }


  .dropdown-btn{
    display: block;
    z-index: 999;
-webkit-transform: translate3d(0,0,999px);
 transform: translate3d(0,0,999px);
}



.logoblancophone{
    visibility: visible !important;

    top: 5%;
    width: 50%;
    display: block;
    position: absolute;
    display: block;
margin-left: 20vw;
margin-right: auto;

z-index: 25;
-webkit-transform: translate3d(0,0,25px);
 transform: translate3d(0,0,25px);



}



.chile{
    height: 250px;
    display: block;
    margin: auto;

    margin-left: 8%;
}





.img{
    
    background-position-y: 50px;
    
}


.margen{
    margin: 0;
}
    
.piepagina{
    
    font-size: 0.75em;
    
    
    
}

.achicar{
    font-size: 1.2em;
    margin-top: 12px;
    
}

.tituloiprimero{
    text-transform: uppercase;
    color: white;
    font-size: 1.8em;
}




.fade{
    opacity: 0;
    transition: 2s;
}



.sublineh::before{
    content: '';
    width: 70px;
    
    height: 3px;
    
    background-color: hsla(196, 70%, 64%, 0.718);
    margin: 0;
    
    
    z-index: 100;
    position: absolute;
   

   

    
}


.form {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 8;
 
    text-align: left;
    
    


border-radius: 1em;
padding: 3.5em 1.5em;

padding-top: 10px;

} 



.formcliente{
    
    grid-column-start: 2 ;
    grid-column-end: 8 ;
}



#redes{
    text-align: center;
    
    grid-column-start: 2;
    grid-column-end: 8;

    grid-row: 2;


    border-radius: 1em;
    padding: 3.5em 1.5em;
    
    padding-top: 10px;
}









}
/* aqui termina modo celular */
/* font-weigth = 100 */



.arrow {
    margin-left: -1.8px;
    border: solid #63c2e4;;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    
    
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg) scale(3.5);;
    
    
    
    color: #63c2e4;
    
  }






  /* Chrome, Safari, Opera */
.inputblanco input::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1;
  }
  
  /* Firefox 19+ */
  .inputblanco input::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
  }
  
  /* Firefox 4 – 18 */
  .inputblanco input:-moz-placeholder {
    color: #ffffff;
    opacity: 1;
  }
  
  /* Internet Explorer 10+ */
  .inputblanco input:-ms-input-placeholder {
    color: #ffffff;
    opacity: 1;
  }
  
  /* Estándar moderno */
  .inputblanco input::placeholder {
    color: #ffffff;
    opacity: 1;
  }

