*{
   box-sizing: border-box;
   max-width: 100%;
}


#verticalmenu{
   padding-left: 6px;
   padding-right: 6px;
   padding-top: 10px;
   padding-bottom: 10px;
   color:#222;
   font-family:corbel,sans-serif;
   font-size: 14px;
   
   vertical-align:top;
   background-color: #c6c6c64e;
   max-width: 30px;
   border-radius: 10px;
 
   position: fixed;
   margin-top: 15vh;
   margin-left: 20px;
 }



 #verticalmenu input[type="radio"] {
   appearance: none;
   background-color: rgb(137, 137, 137);
   margin: 0;
   font: inherit;
   color: currentColor;
   width: 14px;
   height: 14px;
   border: none;
   border-radius: 50%;
   margin-top: 6px;
   margin-bottom: 6px;
 }

 #verticalmenu input:checked {
   background: rgb(186, 225, 255);
}

















 


.container {
   display: flex;
   overflow: auto;
   outline: 1px dashed lightgray;
   flex: none;
   margin-top: 0;
   
 }
 
 
   
 
 .space{
   padding-top: calc(40vh);
 }
 .space2{
   padding-top: calc(40vh);
 }
 
 
 .container.y {
   width: 100%;
   height: 100vh;
   flex-flow: column nowrap;
 }
 /* scroll-snap */
 
 
 .y.mandatory-scroll-snapping {
   scroll-snap-type: y mandatory;
 }
 
 
 
 
 .container > div {
   text-align: center;
   scroll-snap-align: center;
   flex: none;
 }
 

 
 

 /* appearance fixes */
 .y.container > div:first-child {
   line-height: 1.3;
   font-size: 64px;
 }

#slider {
    margin: 0 auto;
    width: 95%;
    max-width: 100%;
    text-align: center;

    height: 540px;

    
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    /* padding: 10px; */
    /* border: 3px solid #ccc; */
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
    
 }
 #slide1:checked ~ #celestetext {
   content: "xddddddd";
}
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }

 
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slide5:checked ~ #slides .inner {
   margin-left: -400%;
}
#slide6:checked ~ #slides .inner {
   margin-left: -500%;
}
#slide7:checked ~ #slides .inner {
   margin-left: -600%;
}
#slide8:checked ~ #slides .inner {
   margin-left: -700%;
}





#slide1:checked ~ #celeste h1::before {
   content: '..';
}


/* #celeste h1::before{
   content: 'hola';
   
} */





#snap{
   
   
   overflow-y: scroll;
}







 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 800%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 12.5%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
 }
 #slides .slide_1 {
    background: white;
 }
 #slides .slide_2 {
    background: white;
 }
 #slides .slide_3 {
    background: white;
 }
 #slides .slide_4 {
    background: white;
 }
 #slides .slide_5 {
   background: white;
}
#slides .slide_6 {
   background: white;
}

#slides .slide_7 {
   background: white;
}

#slides .slide_8 {
   background: white;
}

 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(5),
 #slide5:checked ~ #controls label:nth-child(6),
 #slide6:checked ~ #controls label:nth-child(7),
 #slide7:checked ~ #controls label:nth-child(8),
 #slide8:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(5),
 #slide5:checked ~ #controls label:nth-last-child(6),
 #slide6:checked ~ #controls label:nth-last-child(7),
 #slide7:checked ~ #controls label:nth-last-child(8),
 #slide8:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: rgb(137, 137, 137);
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4),
 #slide5:checked ~ #bullets label:nth-child(5),
 #slide6:checked ~ #bullets label:nth-child(6),
 #slide7:checked ~ #bullets label:nth-child(7),
 #slide8:checked ~ #bullets label:nth-child(8) {
    background: rgb(186, 225, 255);
 }
 @media screen and (max-width: 900px) {
   
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(5),
    #slide5:checked ~ #controls label:nth-child(6),
    #slide6:checked ~ #controls label:nth-child(7),
    #slide7:checked ~ #controls label:nth-child(8),
    #slide8:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(5),
    #slide5:checked ~ #controls label:nth-last-child(6),
    #slide6:checked ~ #controls label:nth-last-child(7),
    #slide7:checked ~ #controls label:nth-last-child(8),
    #slide8:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% );
      /*  margin: 0 auto; */
    }

   


 }





 :root {
   --altura: 44vh;
   
}




#celeste{
   
   background-color: white;
   height: 40px;
   width: 95%;
   margin: auto;
   margin-top: 30px;

   color:  #63c1e3b7;
}



 #portada{

   top: 0;

   position: absolute;

    height: var(--altura);
    
    overflow: hidden;
   
    width: 100%;
    
    
 }

 iframe{
   margin-top: 10px;
   margin-bottom: 10px;
 }

 #image{
   
    
    background-image: url(./esportada.jpg);   
    background-position: center;

    /*  background-position-y: -330px ; */
    background-size: cover;
   
    background-repeat: no-repeat;
   
    min-height: var(--altura);
 }

 #image:before {
	content:'';
	position: absolute;
   top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
   /* max-width: fit-content; */
   height: var(--altura);;
}





.partes2{
   grid-template-columns: repeat(2   , 1fr);
     /* grid-template-rows: repeat(2   , 1fr); */
   display: grid;
   
   height: 100%;

   width: 100%;
   
    
}

.textocuadro{
   text-align: left;
   line-height: 1rem;
   font-size: 0.65rem;
}

#titulocuadro{

   text-align: left;
   line-height: 1rem;
   font-size: 1rem;


}

.lineatitulo::before{
   
   content: '';
   width: 40px;
   
   height: 3px;
   
   background-color: hsla(196, 70%, 64%, 0.718);
   margin: 0;

   position: absolute;
   left: 0;
  
}

#imgsl1{
   background-image: url(./es01.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90%;
   
}

#imgsl2{

   
   background-image: url(./es02.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90%;
   
}

#imgsl3{

   
   background-image: url(./es03.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90%;
   
}

#imgsl4{

   
   background-image: url(./es04.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90%;
   
}

#imgsl5{

   
   background-image: url(./es05.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90%;
   
}


#imgsl6{

   
   background-image: url(./es06.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90%;
   
}

#imgsl7{
   background-image: url(./es07.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90%;
   
}

#imgsl8{
   background-image: url(./es08.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90%;
   
}




.lineamedia{
   content: '';
    position: absolute;

   margin-top: 30px;
    width: 5px;
    height:250px;
    background-color: hsla(196, 70%, 64%, 0.718);

    left: calc(50% - 1px);
    
    -webkit-transform: translate3d(0,0,25px);
    transform: translate3d(0,0,25px);   
    z-index: 25;
    
}




@media screen and (max-width: 960px) {



}

.y.mandatory-scroll-snapping {
   scroll-snap-type: y mandatory;
 }

 .always-stop > div {
   scroll-snap-stop: always;
 }



 .x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}

.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}

/* defining scroll-snap alignment on children */
div > div {
  scroll-snap-align: center;
}

/* defining scroll-snap stop on children */
.always-stop > div {
  scroll-snap-stop: always;
}

.always-stop-odd > div:nth-of-type(odd) {
  scroll-snap-stop: always;
}

.always-stop-even > div:nth-of-type(even) {
  scroll-snap-stop: always;
}

.normal-stop > div {
  scroll-snap-stop: normal;
}